{% extends "layout/base.html" %}
{% block title %}FAQ{% endblock %}

{% block content %}
	{% load staticfiles %}

		<div class="theme-band site-wrapper-inner footerPage">
			<div class="cover-container">
			<h1 class="cover-heading">FAQ</h1>
			</div>
		</div>

		<div class="site-wrapper-inner footerPage faq">
			<div class="cover-container">


				<div class="panel-group" id="accordion">
					<h3>Découvrez Drinkizy</h3>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#1-1">
								Drinkizy, qu’est-ce que c’est ?
							</a>
							</h4>
						</div>
						<div id="1-1" class="panel-collapse collapse in">
							<div class="panel-body">
							Drinkizy, c’est une application de recherche de boisson. Qu’il s’agisse de chercher la kro la moins chère du quartier ou de retrouver LA boisson que vous aviez adoré lors de votre dernier voyage à l’étranger, Drinkizy est là !
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#1-2">
								Drinkizy, comment ça marche ?
							</a>
							</h4>
						</div>
						<div id="1-2" class="panel-collapse collapse">
							<div class="panel-body">
							Pour trouver une boisson, il vous suffit de compléter les champs situés tout en haut de l’application. Le premier champ vous permettra de choisir le type de boisson qui vous intéresse, le second vous permettra de définir une zone de recherche et de l’étendre. Enfin, le bouton “thème” vous permettra de chercher des boissons situées dans des bars spécialisés.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#1-3">
								Faut-il que je me crée un compte pour utiliser Drinkizy ?
							</a>
							</h4>
						</div>
						<div id="1-3" class="panel-collapse collapse">
							<div class="panel-body">
							Il n’est pas nécessaire de posséder un compte utilisateur pour utiliser Drinkizy, cependant, le fait de vous inscrire vous permettra de bénéficier de certaines fonctionnalités réservées aux membres.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="grey-band site-wrapper-inner footerPage faq">
			<div class="cover-container">

				<div class="panel-group" id="accordion">
					<h3>Application Mobile</h3>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#2-1">
								Avez-vous une appli Android ? iPhone ? Autre ?
							</a>
							</h4>
						</div>
						<div id="2-1" class="panel-collapse collapse">
							<div class="panel-body">
							Oui ! Nous avons une application Android, n’hésitez pas à nous retrouver sur GooglePlay.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="white-band site-wrapper-inner footerPage faq">
			<div class="cover-container">

				<div class="panel-group" id="accordion">
					<h3>Bars</h3>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#3-1">
								Quels bars trouve-t-on sur le site ?
							</a>
							</h4>
						</div>
						<div id="3-1" class="panel-collapse collapse ">
							<div class="panel-body">
							Vous trouverez de nombreux types de bar sur le site. Pour vous aider à choisir celui qui vous intéresse, n’hésitez pas à utiliser le filtre “thèmes”.
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#3-2">
								Comment sont-ils sélectionnés ?
							</a>
							</h4>
						</div>
						<div id="3-2" class="panel-collapse collapse ">
							<div class="panel-body">
							Les bars sont sélectionnés par nos utilisateurs.
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#3-3">
								 A quoi correspondent les prix ?
							</a>
							</h4>
						</div>
						<div id="3-3" class="panel-collapse collapse ">
							<div class="panel-body">
							Les catégories de prix (€,€€, €€€) sont une  évaluation  basée sur le ressenti de nos utilisateurs. Les catégories de prix vont d’économique (€) à cher (€€€)
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="grey-band site-wrapper-inner footerPage faq">
			<div class="cover-container">

				<div class="panel-group" id="accordion">
					<h3>Recherche</h3>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#4-1">
								Je veux chercher un bar ou une boisson. Comment faire ?
							</a>
							</h4>
						</div>
						<div id="4-1" class="panel-collapse collapse">
							<div class="panel-body">
							Drinkizy est un site Internet consacré à la recherche de bars dans Paris, à l’aide de filtres de recherche préalablement définis (boissons, localisation dans Paris etc.). Nous vous proposons un moteur de recherche fluide, basé sur une base de données remplie par nos soins et avec l’aide des internautes. Le site Internet a été décliné.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="white-band site-wrapper-inner footerPage faq">
			<div class="cover-container">

				<div class="panel-group" id="accordion">
					<h3>Participation</h3>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#5-1">
								Et si le bar ou la boisson que je cherche n’est pas sur le site ?
							</a>
							</h4>
						</div>
						<div id="5-1" class="panel-collapse collapse ">
							<div class="panel-body">
							Drinkizy est un site Internet consacré à la recherche de bars dans Paris, à l’aide de filtres de recherche préalablement définis (boissons, localisation dans Paris etc.). Nous vous proposons un moteur de recherche fluide, basé sur une base de données remplie par nos soins et avec l’aide des internautes. Le site Internet a été décliné.
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#5-2">
								Je veux proposer un bar. Comment faire ?
							</a>
							</h4>
						</div>
						<div id="5-2" class="panel-collapse collapse ">
							<div class="panel-body">
							Drinkizy est un site Internet consacré à la recherche de bars dans Paris, à l’aide de filtres de recherche préalablement définis (boissons, localisation dans Paris etc.). Nous vous proposons un moteur de recherche fluide, basé sur une base de données remplie par nos soins et avec l’aide des internautes. Le site Internet a été décliné.
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#5-3">
								Je veux proposer une boisson. Comment faire ?
							</a>
							</h4>
						</div>
						<div id="5-3" class="panel-collapse collapse ">
							<div class="panel-body">
							Drinkizy est un site Internet consacré à la recherche de bars dans Paris, à l’aide de filtres de recherche préalablement définis (boissons, localisation dans Paris etc.). Nous vous proposons un moteur de recherche fluide, basé sur une base de données remplie par nos soins et avec l’aide des internautes. Le site Internet a été décliné.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="grey-band site-wrapper-inner footerPage faq">
			<div class="cover-container">

				<div class="panel-group" id="accordion">
					<h3>Géolocalisation</h3>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#6-1">
								Pourquoi se géolocaliser ?
							</a>
							</h4>
						</div>
						<div id="6-1" class="panel-collapse collapse">
							<div class="panel-body">
							Pour permettre à Drinkizy de trouver rapidement les bars qui se trouve autour de toi.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="white-band site-wrapper-inner footerPage faq">
			<div class="cover-container">

				<div class="panel-group" id="accordion">
					<h3>Avis</h3>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#7-1">
								J’ai une remarque ou une suggestion. Comment vous en faire part ?

							</a>
							</h4>
						</div>
						<div id="7-1" class="panel-collapse collapse">
							<div class="panel-body">
							Pour permettre à Drinkizy de trouver rapidement les bars qui se trouve autour de toi.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="grey-band site-wrapper-inner footerPage faq">
			<div class="cover-container">

				<div class="panel-group" id="accordion">
					<h3>Et plus ...</h3>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#8-1">
								Il est cool ce projet, vous en avez d’autres ?
							</a>
							</h4>
						</div>
						<div id="8-1" class="panel-collapse collapse">
							<div class="panel-body">
							Pour permettre à Drinkizy de trouver rapidement les bars qui se trouve autour de toi.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock content %}