{% extends "layout/base.html" %}

{% block content %}
	{% load staticfiles %}

		<div class="theme-band site-wrapper-inner">
				<div class="cover-container">
					<div class="inner cover">
						<h1 class="cover-heading">Trouves le bar qui correspond à tes envies</h1>
						<p class="lead">
							<a href="theme/bars-concerts/" type="button" class="concert-icon btn btn-primary"><span class="sprite"></span>Concert</a>
							<a href="theme/bars-sportifs/" type="button" class="sport-icon btn btn-primary"><span class="sprite"></span>Sportif</a>
							<a href="theme/bars-a-cocktails-moleculaires/" type="button" class="moleculaire-icon btn btn-primary"><span class="sprite"></span>Moléculaire</a>
							<a href="theme/bars-lounge/" type="button" class="lounge-icon btn btn-primary"><span class="sprite"></span>Lounge</a>
							<a href="theme/bars-rock/" type="button" class="rock-icon btn btn-primary"><span class="sprite"></span>Rock</a>
							<a href="theme/pubs/" type="button" class="pub-icon btn btn-primary"><span class="sprite"></span>Pub</a>
							<a href="theme/bars-geek/" type="button" class="geek-icon btn btn-primary"><span class="sprite"></span>Geek</a>
						</p>
						
						<a href="theme/pubs/" class="btn btn-link-underline">Plus de thèmes</a>
						
					</div>
				</div>
		</div>

		<div class="white-band list-bar-band site-wrapper-inner">
			<div class="cover-container">
				<div class="inner cover">
					<h1 class="cover-heading">Bars populaires de Paris</h1>
					
					<div class="row">
						<div class="col-xs-6 col-sm-3">
							<div class="media media-grey">
								<span class="pull-left">
									9.9
								</span>
								<div class="media-body">
									<h4 class="media-heading">
										<a href="">Guinness Tavern</a>
									</h4>
									<h6><a href="">Pub</a>, <a href="">Concerts</a> <small>31 rue des Lambards 75001 Paris</small></h>
								</div>
							</div>
							<div class="thumbnail">
								<img src="../static/medias/bars/aux-trois-escales.jpg" alt="...">
							</div>

						</div>
						<div class="col-xs-6 col-sm-3">
							<div class="media media-grey">
								<span class="pull-left" href="#">
									9.9
								</span>
								<div class="media-body">
									<h4 class="media-heading">
										<a href="">Guinness Tavern</a>
									</h4>
									<h6><a href="">Pub</a>, <a href="">Concerts</a> <small>31 rue des Lambards 75001 Paris</small></h>
								</div>
							</div>
							<div class="thumbnail">
								<img src="img/hannongbar_orange.jpg" alt="...">
							</div>
						</div>

						<!-- Add the extra clearfix for only the required viewport -->
						<div class="clearfix visible-xs"></div>

						<div class="col-xs-6 col-sm-3">
							<div class="media media-grey">
								<span class="pull-left" href="#">
									9.9
								</span>
								<div class="media-body">
									<h4 class="media-heading">
										<a href="">Guinness Tavern</a>
									</h4>
									<h6><a href="">Pub</a>, <a href="">Concerts</a> <small>31 rue des Lambards 75001 Paris</small></h>
								</div>
							</div>
							<div class="thumbnail">
								<img src="img/hannongbar_orange.jpg" alt="...">
							</div>
						</div>
						<div class="col-xs-6 col-sm-3">
							<div class="media media-grey">
								<span class="pull-left" href="#">
									9.9
								</span>
								<div class="media-body">
									<h4 class="media-heading">
										<a href="">Guinness Tavern</a>
									</h4>
									<h6><a href="">Pub</a>, <a href="">Concerts</a> <small>31 rue des Lambards 75001 Paris</small></h>
								</div>
							</div>
							<div class="thumbnail">
								<img src="img/hannongbar_orange.jpg" alt="...">
							</div>
						</div>
					</div>
					
					<a href="#" class="btn btn-link-underline btn-link-underline-orange">Voir plus de bars</a>
				</div>
			</div>
		</div>

		<div class="grey-band list-bar-band site-wrapper-inner">
			<div class="cover-container">
				<div class="inner cover">
					<h1 class="cover-heading">"Place to be" à Paris</h1>

						<div class="row">
							<div class="col-xs-6 col-sm-3">
								<div class="media media-white">
									<span class="pull-left" href="#">
										9.9
									</span>
									<div class="media-body">
										<h4 class="media-heading">
											<a href="">Guinness Tavern</a>
										</h4>
										<h6><a href="">Pub</a>, <a href="">Concerts</a> <small>31 rue des Lambards 75001 Paris</small></h>
									</div>
								</div>
								<div class="thumbnail">
									<img src="img/hannongbar_orange.jpg" alt="...">
								</div>

							</div>
							<div class="col-xs-6 col-sm-3">
								<div class="media media-white">
									<span class="pull-left" href="#">
										9.9
									</span>
									<div class="media-body">
										<h4 class="media-heading">
											<a href="">Guinness Tavern</a>
										</h4>
										<h6><a href="">Pub</a>, <a href="">Concerts</a> <small>31 rue des Lambards 75001 Paris</small></h>
									</div>
								</div>
								<div class="thumbnail">
									<img src="img/hannongbar_orange.jpg" alt="...">
								</div>
							</div>

							<!-- Add the extra clearfix for only the required viewport -->
							<div class="clearfix visible-xs"></div>

							<div class="col-xs-6 col-sm-3">
								<div class="media media-white">
									<span class="pull-left" href="#">
										9.9
									</span>
									<div class="media-body">
										<h4 class="media-heading">
											<a href="">Guinness Tavern</a>
										</h4>
										<h6><a href="">Pub</a>, <a href="">Concerts</a> <small>31 rue des Lambards 75001 Paris</small></h>
									</div>
								</div>
								<div class="thumbnail">
									<img src="img/hannongbar_orange.jpg" alt="...">
								</div>
							</div>
							<div class="col-xs-6 col-sm-3">
								<div class="media media-white">
									<span class="pull-left" href="#">
										9.9
									</span>
									<div class="media-body">
										<h4 class="media-heading">
											<a href="">Guinness Tavern</a>
										</h4>
										<h6><a href="">Pub</a>, <a href="">Concerts</a> <small>31 rue des Lambards 75001 Paris</small></h>
									</div>
								</div>
								<div class="thumbnail">
									<img src="img/hannongbar_orange.jpg" alt="...">
								</div>
							</div>
						</div>
					<a href="#" class="btn btn-link-underline btn-link-underline-orange">Voir plus de bars</a>

				</div>
			</div>
		</div>

		<div class="white-band download-app-band site-wrapper-inner">
			<div class="cover-container">
				<div class="inner cover">
					<p class="lead">Trouves ta boisson préférée partout où tu vas</p>
					<button type="button" class="btn btn-primary btn-primary-orange btn-lg">Télécharger l'application sur <span>Google Play</span></button>
				</div>
			</div>
		</div>

{% endblock content %}