{% extends "layout/base.html" %}

{% block content %}
	{% load staticfiles %}

		<div class="theme-band site-wrapper-inner">
				<div class="cover-container">
					<div class="inner cover">
						<h1 class="cover-heading">Trouves le bar qui correspond à tes envies</h1>
						<p class="lead">
							<a href="theme/bars-concerts/" type="button" class="concert-icon btn btn-primary"><span class="sprite"></span>Concert</a>
							<a href="theme/bars-sportifs/" type="button" class="sport-icon btn btn-primary"><span class="sprite"></span>Sportif</a>
							<a href="theme/bars-a-cocktails-moleculaires/" type="button" class="moleculaire-icon btn btn-primary"><span class="sprite"></span>Moléculaire</a>
							<a href="theme/bars-lounge/" type="button" class="lounge-icon btn btn-primary"><span class="sprite"></span>Lounge</a>
							<a href="theme/bars-rock/" type="button" class="rock-icon btn btn-primary"><span class="sprite"></span>Rock</a>
							<a href="theme/pubs/" type="button" class="pub-icon btn btn-primary"><span class="sprite"></span>Pub</a>
							<a href="theme/bars-geek/" type="button" class="geek-icon btn btn-primary"><span class="sprite"></span>Geek</a>
						</p>
						
						<a href="theme/pubs/" class="btn btn-link-underline">Plus de thèmes</a>
						
					</div>
				</div>
		</div>

		<div class="white-band list-bar-band site-wrapper-inner">
			<div class="cover-container">
				<div class="inner cover">
					<h1 class="cover-heading">Bars populaires de Paris</h1>

					<div class="row">
						{% for famous_bar_and_rank in famous_bars %}
							{% with famous_bar=famous_bar_and_rank.0 %}
							{% with famous_bar_rank=famous_bar_and_rank.1 %}
							<div class="col-xs-6 col-sm-3">
								<div class="media media-grey">
									<span class="pull-left {% if famous_bar_rank < 6 %}markBackGrey{%else%}markBackOrange{%endif%}">
										{% if famous_bar_rank > 0 %}{{ famous_bar_rank|floatformat:1 }}{% else %} - {% endif %}
									</span>
									<div class="media-body">
										<h4 class="media-heading">
											<a href="{% url 'bars.views.fiche_bar' famous_bar.slug %}">{{ famous_bar.name }}</a>
										</h4>

										<h6>
											{% for theme in famous_bar.themes.all %}
								                {% if forloop.last %}
								                    <a href="{% url 'bars.views.bars_for_theme' theme.slug %}">{{ theme.name }}</a>
								                {% else %}
								                    <a href="{% url 'bars.views.bars_for_theme' theme.slug %}">{{ theme.name }},</a>
								                {% endif %}
											{% endfor %} 

											<small>{{ famous_bar.address }}</small></h>
									</div>
								</div>
								<div class="thumbnail">
									{% load thumbnail %}
									{% thumbnail famous_bar.getImgUrlList.0 "270x140" crop="center" as im %}
									<a href="{% url 'bars.views.fiche_bar' famous_bar.slug %}">
									    <img class="media-object" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
									</a>
									{% endthumbnail %}
								</div>

							</div>
							{% endwith %}
							{% endwith %}
						{% endfor %}
						
					</div>
					
					<a href="search/?q=&address=" class="btn btn-link-underline btn-link-underline-orange">Voir plus de bars</a>
				</div>
			</div>
		</div>

		<div class="grey-band list-bar-band site-wrapper-inner">
			<div class="cover-container">
				<div class="inner cover">
					<h1 class="cover-heading">"Place to be" à Paris</h1>

						<div class="row">
							<div class="col-xs-6 col-sm-3">
								<div class="media media-white">
									<span class="pull-left" href="#">
										9.9
									</span>
									<div class="media-body">
										<h4 class="media-heading">
											<a href="">Guinness Tavern</a>
										</h4>
										<h6><a href="">Pub</a>, <a href="">Concerts</a> <small>31 rue des Lambards 75001 Paris</small></h>
									</div>
								</div>
								<div class="thumbnail">
									<img src="img/hannongbar_orange.jpg" alt="...">
								</div>

							</div>
							<div class="col-xs-6 col-sm-3">
								<div class="media media-white">
									<span class="pull-left" href="#">
										9.9
									</span>
									<div class="media-body">
										<h4 class="media-heading">
											<a href="">Guinness Tavern</a>
										</h4>
										<h6><a href="">Pub</a>, <a href="">Concerts</a> <small>31 rue des Lambards 75001 Paris</small></h>
									</div>
								</div>
								<div class="thumbnail">
									<img src="img/hannongbar_orange.jpg" alt="...">
								</div>
							</div>

							<!-- Add the extra clearfix for only the required viewport -->
							<div class="clearfix visible-xs"></div>

							<div class="col-xs-6 col-sm-3">
								<div class="media media-white">
									<span class="pull-left" href="#">
										9.9
									</span>
									<div class="media-body">
										<h4 class="media-heading">
											<a href="">Guinness Tavern</a>
										</h4>
										<h6><a href="">Pub</a>, <a href="">Concerts</a> <small>31 rue des Lambards 75001 Paris</small></h>
									</div>
								</div>
								<div class="thumbnail">
									<img src="img/hannongbar_orange.jpg" alt="...">
								</div>
							</div>
							<div class="col-xs-6 col-sm-3">
								<div class="media media-white">
									<span class="pull-left" href="#">
										9.9
									</span>
									<div class="media-body">
										<h4 class="media-heading">
											<a href="">Guinness Tavern</a>
										</h4>
										<h6><a href="">Pub</a>, <a href="">Concerts</a> <small>31 rue des Lambards 75001 Paris</small></h>
									</div>
								</div>
								<div class="thumbnail">
									<img src="img/hannongbar_orange.jpg" alt="...">
								</div>
							</div>
						</div>
					<a href="search/?q=&address=" class="btn btn-link-underline btn-link-underline-orange">Voir plus de bars</a>

				</div>
			</div>
		</div>

		<div class="white-band download-app-band site-wrapper-inner">
			<div class="cover-container">
				<div class="inner cover">
					<p class="lead">Trouves ta boisson préférée partout où tu vas</p>
					<button type="button" class="btn btn-primary btn-primary-orange btn-lg">Télécharger l'application sur <span>Google Play</span></button>
				</div>
			</div>
		</div>

{% endblock content %}