{% extends "layout/base.html" %}

{% block content %}
	{% load staticfiles %}

	<div class="main wrapper clearfix home">
	           

		<article>
		    <section class="home-slider">
		        <div id="ei-slider" class="ei-slider">
                    <ul class="ei-slider-large">
						<li>
							<a href="#">
	                            <img src={% static "medias/img/slider/image1.jpg" %} alt="image06"/>
	                            <div class="ei-title">
	                                <h2></h2>
	                                <h3></h3>
	                            </div>
                            </a>
                        </li>
                        <li>
                        	<a href="">
	                            <img src={% static "medias/img/slider/image2.jpg" %} alt="image01"/>
	                            <div class="ei-title">
	                                <h2>Découvrez Le Descartes</h2>
	                                <h3>Nouveau Partenaire Drinkizy</h3>
	                            </div>
                            </a>
                        </li>
                        
                    </ul><!-- ei-slider-large -->
                    <ul class="ei-slider-thumbs">
                        <li class="ei-slider-element">Current</li>
						<li><a href="#">Slide 6</a><img src={% static "medias/img/slider/thumbs/1.jpg" %} alt="thumb06" /></li>
                        <li><a href="#">Slide 1</a><img src={% static "medias/img/slider/thumbs/2.jpg" %} alt="thumb01" /></li>
                    </ul><!-- ei-slider-thumbs -->
                </div><!-- ei-slider -->
		    </section>
		</article>

		<aside>
			<figure>
		    	<img src={% static "medias/img/pub_appli_mobile.png" %} alt="Télécharger gratuitement notre application android"/>
		    </figure>

		    <figure class="sponsoring">
		    	<p style="padding: 50px 0; color: #8C8C8C; background-color: #B2B2B1; text-align: center; letter-spacing: 10px;">ESPACE PUB</p>
		    </figure>
		</aside>

		<div class="clearfix"></div>

		<article class="home-topWeek">
			<h2>Les Tops de la semaine</h2>
			<ul>
				<li>
					<h5>Mes coups de coeur</h5>
					<h6>par <a href="">Lauriane</a></h6>
					<figure>
						<div><img src={% static "medias/img/slider/image1.jpg" %} height="100"/></div>
						<figcaption>
							<ol>
								<li>Bière</li>
								<li>Bière</li>
								<li>Bière</li>
							</ol>
						</figcaption>
					</figure>
				</li>

				<li>
					<h5>Mes coups de coeur</h5>
					<h6>par <a href="">Lauriane</a></h6>
					<figure>
						<div><img src={% static "medias/img/slider/image1.jpg" %} height="100"/></div>
						<figcaption>
							<ol>
								<li>Bière</li>
								<li>Bière</li>
								<li>Bière</li>
							</ol>
						</figcaption>
					</figure>
				</li>

				<li>
					<h5>Mes coups de coeur</h5>
					<h6>par <a href="">Lauriane</a></h6>
					<figure>
						<div><img src={% static "medias/img/slider/image1.jpg" %} height="100"/></div>
						<figcaption>
							<ol>
								<li>Bière</li>
								<li>Bière</li>
								<li>Bière</li>
							</ol>
						</figcaption>
					</figure>
				</li>


				<li>
					<h5>Mes coups de coeur</h5>
					<h6>par <a href="">Lauriane</a></h6>
					<figure>
						<div><img src={% static "medias/img/slider/image1.jpg" %} height="100"/></div>
						<figcaption>
							<ol>
								<li>Bière</li>
								<li>Bière</li>
								<li>Bière</li>
							</ol>
						</figcaption>
					</figure>
				</li>


				<li>
					<h5>Mes coups de coeur</h5>
					<h6>par <a href="">Lauriane</a></h6>
					<figure>
						<div><img src={% static "medias/img/slider/image1.jpg" %} height="100"/></div>
						<figcaption>
							<ol>
								<li>Bière</li>
								<li>Bière</li>
								<li>Bière</li>
							</ol>
						</figcaption>
					</figure>
				</li>
			</ul>

		</article>


	</div> <!-- #main -->

{% endblock content %}