{% extends "layout/base.html" %}

{% block content %}
	{% load staticfiles %}
		<div class="theme-band site-wrapper-inner footerPage">
			<div class="cover-container">
			<h1 class="cover-heading">Mentions Légales</h1>
			</div>
		</div>
		<div class="site-wrapper-inner footerPage mentionsLegales">
			<div class="cover-container">

				<p>Conformément aux articles 39 et suivants de la loi n°78-17 du 6 janvier 1978 modifiée en 2004 relative à l’informatique, aux fichiers et aux libertés, toute personne peut obtenir communication et, le cas échéant, rectification ou suppression des informations la concernant, en s’adressant au siège social de notre cabinet.</p>

				<h4>Conditions d’utilisation </h4>
				<p>‎Le contenu du présent site Internet relève entièrement de la discrétion du projet Drinkizy. Seule l’équipe de Drinkizy se réserve le droit de modifier tout aspect du présent site Internet, y compris, sans toutefois s'y limiter, les conditions d'utilisation, les politiques relatives au droit d'auteur et à la protection des données personnelles.</p>

				<p>L'ensemble des utilisateurs du site Internet s'engagent à respecter les politiques exposées dans les présentes conditions. Nul ne peut utiliser ce site Internet d'une manière allant à l'encontre du projet étudiant Drinkizy. Drinkizy décline  toute responsabilité liée à l'utilisation du présent site Internet. La responsabilité de Drinkizy ne pourra être engagée en cas de conséquences découlant de l'utilisation du présent site Internet, y compris toute utilisation incorrecte ou frauduleuse.</p>

				<h4>Utilisation des données à caractère personnel</h4>
				<p>Le fait de diffuser des informations personnelles (nom, adresse email, etc.) sur le présent site internet indique que vous acceptez que ces mêmes informations soient utilisées à plusieurs effets : vous contacter et vous faire parvenir des informations/supports que le Drinkizy estime susceptibles de vous intéresser.</p>

				<p>Drinkizy ne divulgue aucune information permettant de vous identifier personnellement, sauf si vous autorisez cette procédure ou en cas d'obligation légale. Les informations que vous communiquez à Drinkizy ne sont pas vendues ou transmises à des tiers ou utilisées en contradiction avec les objectifs du présent site Internet. Certaines informations personnelles communiquées au présent site Internet sont transférées à des tiers à des seules fins de traitement technique et administratif. Ces tierces parties ne sont pas autorisées à diffuser, à vendre, à louer ou à partager de quelque manière que ce soit des informations relatives aux utilisateurs.</p>

				<p>Drinkizy vous demande de ne pas déposer des informations personnelles de tiers, telles que des coordonnées (adresse, numéro de téléphone, adresse email, etc.) sur le présent site internet sans avoir obtenu l'autorisation officielle des parties concernées. Le fait de soumettre des informations personnelles concernant des tiers sur le présent site indique l'acceptation de votre pleine responsabilité vis-à-vis des parties en question.</p>

				<p>Drinkizy décline toute responsabilité découlant de l'utilisation d'informations personnelles de tiers pouvant figurer sur le présent site Internet. La responsabilité de Drinkizy ne pourra être engagée en cas de conséquences découlant de l'utilisation d'informations personnelles de tiers figurant sur le présent site internet, y compris tout usage incorrect ou frauduleux.</p>

				<h4>Informations à caractère non personnel (« cookies »)</h4>
				<p>Les « cookies » sont des petits fichiers d'information qui peuvent être enregistrés sur votre ordinateur lorsque vous utilisez nos services Internet. Les cookies nous aident à contrôler le trafic du site, à personnaliser les éléments du site pour vous et à faciliter votre accès permanent au site ainsi que son utilisation suivie. Ces fichiers ne recueillent aucune donnée sur votre poste de travail.</p>

				<p>Notre système peut placer des cookies sur votre ordinateur lorsque vous vous visitez le site ou que vous vous y connectez. Ils peuvent être de nature permanente (ils restent sur votre ordinateur jusqu'à ce que vous les effaciez) ou temporaire (ils sont actifs jusqu'à la fermeture de votre navigateur). Vous pouvez paramétrer votre ordinateur pour qu'il refuse les cookies en recourant à une simple procédure proposée par la plupart des navigateurs. Cependant, si vous bloquez les cookies, vous ne pourrez probablement plus utiliser certaines fonctionnalités de notre site et/ou vous voir demander de resaisir des informations plus souvent pour utiliser certains services du présent site.</p>

				<h4>Propriété intellectuelle</h4>
				<p>Drinkizy détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.</p>

				<p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite et passable de poursuites.</p>

				<h4>Directrice de la publication</h4>
				<p>Lauriane Anthony</p>

				<h4>Réalisation</h4>
				<address>
					<strong>Equipe Drinkizy</strong><br>
					<a href="mailto:drinkizy@gmail.com">drinkizy@gmail.com</a>
				</address>

				<h4>Nom de l’hébergeur</h4>
				<address>
					<strong>Alwaysdata </strong><br>
					Siège social : 62 rue Tiquetonne -75002 Paris <br>
					immatriculée au registre du commerce et des sociétés de Paris sous le numéro SIRET : 49289349000036<br>
					Capital social de 5,000 €<br>
					Code NAF 6311Z<br>
					<abbr title="Téléphone">P:</abbr> +33 1 78 94 24 82
				</address>
				

				
			</div>
		</div>

{% endblock content %}