{% extends "layout/base.html" %}

{% block content %}
	{% load staticfiles %}

		<div class="site-wrapper-inner footerPage mentionsLegales">
			<div class="cover-container">
				<h1 class="cover-heading">Mentions Légales</h1>

				<p>Conformément aux articles 39 et suivants de la loi n°78-17 du 6 janvier 1978 modifiée en 2004 relative à l’informatique, aux fichiers et aux libertés, toute personne peut obtenir communication et, le cas échéant, rectification ou suppression des informations la concernant, en s’adressant au siège social de notre cabinet.</p>

				<h4>Propriété intellectuelle</h4>
				<p>Drinkizy détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.</p>

				<p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite et passable de poursuites.</p>

				<h4>Directrice de la publication</h4>
				<p>Lauriane Anthony</p>

				<h4>Réalisation</h4>
				<address>
					<strong>Equipe Drinkizy</strong><br>
					<a href="mailto:drinkizy@gmail.com">drinkizy@gmail.com</a>
				</address>

				<h4>Nom de l’hébergeur</h4>
				<address>
					<strong>Alwaysdata </strong><br>
					Siège social : 62 rue Tiquetonne -75002 Paris <br>
					immatriculée au registre du commerce et des sociétés de Paris sous le numéro SIRET : 49289349000036<br>
					Capital social de 5,000 €<br>
					Code NAF 6311Z<br>
					<abbr title="Téléphone">P:</abbr> +33 1 78 94 24 82
				</address>
				

				
			</div>
		</div>

{% endblock content %}