{% extends "layout/base.html" %}
{% block title %}Espace Pro{% endblock %}
{% block metaDescrption %}L'espace pro permet aux tenants de bar de créer un compte "tenant de bar" sur Drinkizy et d'ainsi pouvoir gérer la communication autour de leur bar avec des avantages spécialisés.{% endblock %}

{% block content %}
	{% load staticfiles %}

		<div class="theme-band site-wrapper-inner footerPage pro">
			<div class="cover-container">
				<h5>Faites vous connaître avec Drinkizy</h5>
				<h2>Devenez notre partenaire privilégié</h2>
				<a href="" class="btn btn-primary btn-lg btn-primary-orange btn-submit">Nous rejoindre</a>
			</div>
		</div>

		<div class="white-band site-wrapper-inner footerPage pro clearfix">
			<div class="cover-container">
				<div class="col-sm-4">
					<h4>Visibilité optimale</h4>
					<p>A travers un site et une application mobile, Drinkizy vous permet d’optimiser la visibilité de votre bar. Référencer votre bar dans l’application vous permettra d’accroitre votre visibilité par des utilisateurs de l’application situés à proximité du bar ou à la recherche de boissons insolites.</p>
				</div>
				<div class="col-sm-4">
					<h4>Gestion de votre bar</h4>
					<p>En tant que propriétaire d’un bar, vous avez la possibilité de gérer ce dernier à travers l’ajout de nouvelles boissons et de leurs tarifs, la gestion des happy hour, mais également la promotion d’évènements se déroulant dans votre bar.	Si votre bar n’est pas encore référencé, n’hésitez pas à l’ajouter. Il sera ensuite validé par l’équipe Drinkizy ainsi que les utilisateurs du site.</p>
				</div>
				<div class="col-sm-4">
					<h4>Publicité</h4>
					<p>Drinkizy étant une application collaborative, la notation des bars et leur évaluation repose dans les mains de nos utilisateurs. En tant que patron de bar, vous avez néanmoins la possibilité de mettre votre bar en avant dans les résultats de recherche et de promouvoir les évènements que vous organisez.</p>
				</div>
			</div>
		</div>

		<div class="grey-band site-wrapper-inner footerPage pro">
			<div class="cover-container">
				<h3>Lorem Ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nulla tortor, commodo ac ultricies ac, feugiat ac purus. Maecenas in urna quis quam euismod hendrerit. Suspendisse potenti. Donec iaculis volutpat augue quis gravida. Donec luctus dolor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nulla tortor, commodo ac ultricies ac, feugiat ac purus. Maecenas in urna quis quam euismod hendrerit. Suspendisse potenti. Donec iaculis volutpat augue quis gravida. Donec luctus dolor risus.</p>
			</div>
		</div>
		

{% endblock content %}