pil==1.1.7
south==0.8.4
whoosh
django-haystack
pip install -U django-floppyforms
pip install django-endless-pagination
pip install django-autocomplete-light


tastypie :
	python-mimeparse
	dateutil
	pip install django-tastypie
