{% extends "layout/base.html" %}

{% block title %}GESTION USER{% endblock title %}

{% block content %}

<section>
	<h2>Bienvenue, {{ user.username }}</h2>

	{% load thumbnail %}
	{% thumbnail user.avatar "70x70" crop="center" as im %}
		<img class="media-object" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
	{% endthumbnail %}


	<h2>Bienvenue, {{ user.avatar }}</h2>
	<p>C'est la page principale de votre compte.</p>
</section>

<section>
	<h2>Que voulez-vous faire aujourd'hui ?</h2>
	<p><a href="" title="">Modifier mon profil</a></p>
	<p><a href="/logout/" title="">Déconnectez vous</a></p>
</section>

{% endblock %}