{% extends "layout/base.html" %}

{% block title %}Drinkizy - S'inscrire{% endblock title %}

{% block content %}

<div class="row">
	<div class="b-register">
		<h1 class="heading-1">S'inscrire</h1>

		<form method="post" action=".">
			{% csrf_token %}
			<p>
				{{ form.pseudo.errors }}
				<label for="id_pseudo">Pseudo</label>
				{{ form.pseudo }}
			</p>
			<p>
				{{ form.email.errors }}
				<label for="id_email">Email</label>
				{{ form.email }}
			</p>
			<p>
				{{ form.emailConfirmation.errors }}
				<label for="id_emailConfirmation">Confirmation de l'email</label>
				{{ form.emailConfirmation }}
			</p>
			<p>
				{{ form.password.errors }}
				<label for="id_password">Mot de passe</label>
				{{ form.password }}
			</p>
			<p>
				{{ form.passwordConfirmation.errors }}
				<label for="id_passwordConfirmation">Confirmation du mot de passe</label>
				{{ form.passwordConfirmation }}
			</p>
			<input type="submit" class="btn-submit" value="S'inscrire" />
		</form>
	</div>
</div>
{% endblock %}