{% extends "layout/base.html" %}

{% block title %}Drinkizy - S'inscrire{% endblock title %}
{% block metaDescrption %}Inscrivez-vous vite à Drinkizy pour partagere vos expériences à travers les bars de Paris.{% endblock %}

{% block content %}

	<div class="theme-band site-wrapper-inner footerPage contact">
        <div class="cover-container">
        <h1 class="cover-heading">S'inscrire</h1>
        </div>
    </div>
	<div class="site-wrapper-inner footerPage">
		<div class="registration-page cover-container">

				<div class="col-md-offset-2 col-sm-8 col-xs-12">
					<form method="post" action="." class="form-horizontal" role="form">
						<div class="form-group">
							{% csrf_token %}
							<label for="id_pseudo" class="col-sm-4 col-xs-4 control-label">Pseudo</label>
							<div class="col-sm-8 col-xs-8">
								{{ form.pseudo }}
								{{ form.pseudo.errors }}
							</div>
							
						</div>
						<div class="form-group">
							<label for="id_email" class="col-sm-4 col-xs-4 control-label">Email</label>
							<div class="col-sm-8 col-xs-8">
								{{ form.email }}
								{{ form.email.errors }}
							</div>
						</div>
						<div class="form-group">
							<label for="id_emailConfirmation" class="col-sm-4 col-xs-4 control-label">Confirmation de l'email</label>
							<div class="col-sm-8 col-xs-8">
								{{ form.emailConfirmation }}
								{{ form.emailConfirmation.errors }}
							</div>
						</div>
						<div class="form-group">
							<label for="id_password" class="col-sm-4 col-xs-4 control-label">Mot de passe</label>
							<div class="col-sm-8 col-xs-8">
								{{ form.password }}
								{{ form.password.errors }}
							</div>
						</div>
						<div class="form-group">
							<label for="id_passwordConfirmation" class="col-sm-4 col-xs-4 control-label">Confirmation du mot de passe</label>
							<div class="col-sm-8 col-xs-8">
								{{ form.passwordConfirmation }}
								{{ form.passwordConfirmation.errors }}
							</div>
						</div>
						<input type="submit" class="btn-submit" value="S'inscrire" />
					</form>
				</div>

			{% comment %}
			<form method="post" action=".">
				{% csrf_token %}
				<p>
					{{ form.pseudo.errors }}
					<label for="id_pseudo">Pseudo</label>
					{{ form.pseudo }}
				</p>
				<p>
					{{ form.email.errors }}
					<label for="id_email">Email</label>
					{{ form.email }}
				</p>
				<p>
					{{ form.emailConfirmation.errors }}
					<label for="id_emailConfirmation">Confirmation de l'email</label>
					{{ form.emailConfirmation }}
				</p>
				<p>
					{{ form.password.errors }}
					<label for="id_password">Mot de passe</label>
					{{ form.password }}
				</p>
				<p>
					{{ form.passwordConfirmation.errors }}
					<label for="id_passwordConfirmation">Confirmation du mot de passe</label>
					{{ form.passwordConfirmation }}
				</p>
				<input type="submit" class="btn-submit" value="S'inscrire" />
			</form>
			{% endcomment %}
		</div>
	</div>

{% endblock %}