/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    /*vertical-align: middle;*/
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Ubuntu, Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    /*border-bottom: 20px solid #e44d26;*/
}

.footer-container,
.main aside {
    /*border-top: 20px solid #e44d26;*/
}

.header-container {
    background: #f7ca0d; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7ca0d 0%, #f1b219 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7ca0d), color-stop(100%,#f1b219)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7ca0d 0%,#f1b219 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7ca0d 0%,#f1b219 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7ca0d 0%,#f1b219 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7ca0d 0%,#f1b219 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ca0d', endColorstr='#f1b219',GradientType=0 ); /* IE6-9 */

}

.wrapper_search,
.footer-container {
    background-color: #3C3C3B;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

.header-container nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    font-weight: bold;

    color: white;
    /*background: #e44d26;*/
}



/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 10px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ==========================================================================
   Big Form Bar
   ========================================================================== */

.wrapper_search form {
    width: 1026px;
    margin: 0 auto;
    height: 70px;
}

.wrapper_search input[type=text] {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    border: 2px solid #fff;
    background-color: #777777;
    height: 40px;
    width: 33.5%;
    color: #fff;
    font-size: 12px;
    padding-left: 10px;
    margin-top: 12px;
    margin-right: 20px;
}

.wrapper_search label {
    color: #fff;
    font-size: 12px;
}

.wrapper_search input[type=submit] {
    border: 0;
    font-size: 12px;
    padding: 8px;
    font-weight: bold;
}

.wrapper_search .moreSearch {
    background-color: #fff;
    color: #3C3C3B;
    margin: 0 0 0 40px;
}

.wrapper_search .goSearch {
    height: 36px;
    width: 36px;
    background-color: transparent;
    background-image: url("../medias/img/drinkizy_sprite.png");
    background-position: -11px -11px;
    margin: 0 20px;
}

.buttonRadius {
    -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;

    -webkit-box-shadow: 1px 1px 3px #636363;
       -moz-box-shadow: 1px 1px 3px #636363;
            box-shadow: 1px 1px 3px #636363;
}


/* ==========================================================================
   Footer
   ========================================================================== */

footer nav a {
    color: #fff;
    font-size: 12px;
    padding-left: 15px;
}

footer nav {
    float: left;
    margin-right: 50px;
}

.footer-follow li {
    display: inline-block;
}

footer figure figcaption {
    font-size: 12px;
}

.footer-fb {
    background-image: url("../medias/img/drinkizy_sprite.png");
    background-position: -104px -12px;
    height: 30px;
}
.footer-tw {
    background-image: url("../medias/img/drinkizy_sprite.png");
    background-position: -58px -12px;
    height: 30px;
    width: 33px;
}


/* ==========================================================================
   Home page
   ========================================================================== */

.home aside img {
    width: 100%;
}

.home-topWeek {
    background: #F4F4F4;
    padding:10px;
}
.home-topWeek h2 { margin-top: 0;}
.home-topWeek > ul, .home-topWeek ol {
    padding-left: 0px;
}
.home-topWeek li {
    list-style: none;
}

.home-topWeek > ul > li {
    display: inline-block;
    width: 190px;
}
.home-topWeek > ul > li:nth-last-child(n+2) {
    margin-right: 10px;
}

.home-topWeek ol {
    margin: 0;
}

.home-topWeek h5, .home-topWeek h6 {
    margin: 0 0 -7px 0;
}

.home-topWeek h5:before {
    content : "\"";
    font-family: 'Aladin', cursive;  
    font-size: 20px;
    color: #F1B219;
}
.home-topWeek h5:after {
    content : "\"";
    font-family: 'Aladin', cursive;  
    font-size: 20px;
    color: #F1B219;
}

.home-topWeek h6 {
    margin-top: -10px;
    color: #3C3C3B;
    padding-left: 15px;
}
.home-topWeek a {
    text-align: right;
    color: #3C3C3B;
}
.home-topWeek figcaption, .home-topWeek div  { display: inline-block;}
.home-topWeek div {
    width: 80px;
    height: 100px;
    overflow: hidden;
    padding-top: 15px;
    margin-right: 5px;
}
.home-topWeek figcaption li {
    counter-increment: top;
    font-size: 13px;
    line-height: 17px;
    margin-top: 10px;
}

.home-topWeek figcaption li:before {
    content: counter(top); /* on affiche le compteur */
    
    background: #F1B219;
    -moz-border-radius: 15px;
         border-radius: 15px;
    font-size: 1.7em;
    color: #F4F4F4;  
    font-family: 'Lobster', cursive;     
    height: 20px;
    width: 20px;
    display: block;
    padding-left: 4px;
    padding-top : 3px;
    margin-top: -2px;
    margin-right: 6px;
    float: left;
}


/* ==========================================================================
   Result page
   ========================================================================== */

.search-result nav {
    width: 66%;
    float: left;
    font-family: 'Lobster', cursive;
    font-size: 2em;
}
.search-result nav li {
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    background-color: #F1F1F2;
    height: 50px;
    line-height: 50px;
}
.search-result nav li a {
    display: block;

}
.search-result .selected a {
    color: #F1B219;
    background-color: #fff;
}

.search-result-bar ul {
    padding-left: 0px;
}
.search-result-bar > ul > li:first-child{
    margin-top: 10px;
}
.search-result-bar > ul > li {
    margin-top: 50px;
}
.search-result-bar h4 {
   font-family: 'Lobster', cursive;
   font-size: 1.5em; 
   margin: 5px 0px;
}
.search-result-bar h4 span {
    background-color: #F1B219;
    color: #fff;
    font-weight: 300;
    font-family: Ubuntu;
    font-size: 0.7em;
    padding: 2px 7px 3px 7px;
    margin-left: 10px;
}
.search-result-bar figure {
    height: 130px;
    width: 18%;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
.search-result-bar .search-result-right {
    float: left;
    width: 80%
}
.search-result-bar figure img {
    height: 130px;
}
.search-result-info p {
    display: inline-block;
    margin-top: 2px;
}
.search-result-info .rank span {
    background-image: url("../medias/img/drinkizy_sprite.png");
    background-position: -38px -57px;
    height: 22px;
    width: 22px;
    display: inline-block;
}

.search-result-info .rank .full {
   background-position: -11px -57px; 
}
.search-result-info strong { 
    display: block; 
    font-family: 'Lobster', cursive;
    font-size: 1.2em;
    text-align: right;
}
.search-result-info .rank {
    float: right;
}
.search-result-info p:first-child:before {
    content : "";
    background-image: url("../medias/img/drinkizy_sprite.png");
    background-position: -74px -57px;
    height: 23px;
    width: 15px;
    display: block;
    margin-top: 1px;
    margin-right: 5px;
    float: left;
}
.search-result-drinksMenu {

}
.search-result-drinksMenu ul {
    background-color: #F1F1F2;
    border-left: 5px solid #F5C82D;
    padding: 5px 10px;
    width: 60%;
    height: 65px;
    float: left;
}
.search-result-drinksMenu ul {
    margin: 0;
}
.search-result-drinksMenu li {
    width: 49%;
    display: inline-block;
}
.search-result-drinksMenu li span {
    float: right;
    margin-right: 10px;
}
.search-result-drinksMenu h5 {
    width: 10%;
    height: 65px;
    float: left;
    background-color: #F5C82D;
    margin: 0;
    text-align: center;
    padding-top: 11px;
    line-height: 17px;
}
.search-result-drinksMenu h5 a {
    color: #fff;
    font-size: 1em;
}
.search-result-drinksMenu h5 strong {
    font-size: 1.5em;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    .header-container nav a {
        float: left;
        width: 27%;
        margin: 2% 1.7%;
        padding: 5px 10px;
        margin-bottom: 0;
    }

    .header-container nav .connect {
        border: 4px solid #fff;
        width: 129px;
    }

    .header-container nav .subscribe {
        background-color: #fff;
        color: #F2B219;
        border: 4px solid #fff;
        width: 110px;
    }

    .header-container img {
        margin: 5px 0;
        width: 16%;
    }
    

    

    .header-container nav li:first-child a {
        margin-left: 0;
    }

    .header-container nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    .header-container nav ul li {
        display: inline;
        float: right;
        margin: 8px 0 0 20px;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        /*-webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;*/
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    .header-container nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article:first-child, .search-result article {
        float: left;
        width: 66%;
    }

    .main aside {
        width: 32%;
    }

    .home aside {
        float: right;
    }

    .search-result aside {
        float: left;
        color: #000;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}