

/*
*****
	Generalities
*****
*/

/* Links */
a,
a:focus,
a:hover {color: #fff;}

/*
 * Base structure
 */
html,
body {height: 100%;}
body {padding-top: 50px; font-family: Ubuntu;}
#wrap { height: 100%;}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper { width: 100%; height: 100%; /* For at least Firefox */ min-height: 100%; display: table;}
.site-wrapper-inner { vertical-align: top; }
.cover-container { margin-left: auto; margin-right: auto; }

/* Padding for spacing */
.inner { padding: 30px; }
.container { padding: 0;}

/* Form */
.form-control { border: 0; -moz-box-shadow: 0px 2px 0px 0px rgba(102, 102, 102, 0.6); -webkit-box-shadow: 0px 2px 0px 0px rgba(102, 102, 102, 0.6); -o-box-shadow: 0px 2px 0px 0px rgba(102, 102, 102, 0.6); box-shadow: 0px 2px 0px 0px rgba(102, 102, 102, 0.6);}
.form-control:focus { border: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.4), 0px 2px 0px 0px rgba(102, 102, 102, 0.6)}

/* Primary Button */
.btn-primary { color: #333333; background: #fff; text-shadow: none; border: none; -moz-box-shadow: 0px 2px 0px 0px rgba(102, 102, 102, 0.6); -webkit-box-shadow: 0px 2px 0px 0px rgba(102, 102, 102, 0.6); -o-box-shadow: 0px 2px 0px 0px rgba(102, 102, 102, 0.6); box-shadow: 0px 2px 0px 0px rgba(102, 102, 102, 0.6);}
.btn-primary:hover, .btn-primary:focus { background: #fff; color: #F3C319;}
.btn-primary-orange { color: #fff; background: #F3C319;}
.btn-primary-orange:hover, .btn-primary-orange:focus { color: #fff; background: #F3C319;}

.btn-link-underline { color: #fff; text-decoration: none; border-radius: 0;}
.btn-link-underline:hover { color: #fff; }
.btn-link-underline:after { display: block; width: 100%; height : 2px; background-color: #fff; content: ""; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.btn-link-underline:hover:after {margin : 4px 0 -4px 0;}

.btn-link-underline-orange { color: #F3C319; }
.btn-link-underline-orange:hover { color: #F3C319; }
.btn-link-underline-orange:after { display: block; width: 100%; height : 2px; background-color: #F3C319; content: ""; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.btn-link-underline-orange:hover:after {margin : 4px 0 -4px 0;}

.btn-primary-grey { color: #000; background: rgba(0, 0, 0, 0.03); }
.btn-primary-grey:hover, .btn-primary-grey:focus { color: #fff; background: #F3C319;}



/*
*****
	Header
*****
*/

.navbar { margin-bottom: 0;}
.navbar-default { background-color: #F3C319; background-image: none; border: none;}
.navbar-brand { padding: 2px 0 0 15px;}
.navbar-default .btn-primary { margin: 0 5px;}
.navbar-nav.navbar-right { line-height: 46px;}
.navbar-form { padding: 0 5px 0 15px; }
.navbar .glyphicon-search { font-size: 22px; color: #fff;}
.navbar .glyphicon-search:hover { color:#fff;}
.navbar .btn-link { padding: 0;}
.navbar h4 {color:#fff; float:left; text-align: left; margin-left: 2px; text-shadow: none;}
.navbar h4 small { display: block; font-style: italic; font-size: 11px; }


/*
*****
	Home Page
*****
*/

.cover { padding: 20px 0; }
.cover-container { width: 1170px; }
.cover-container h1 {margin-top: 0px; padding-bottom: 15px; font-size: 18px; text-align: left;}

/* Vertical band background color change */
.white-band.site-wrapper-inner { background-color: #fff; color: #333333;}
.grey-band.site-wrapper-inner { background-color: #F2F2F2; color: #333333;}

/* Theme icon */
.sprite {background: url("../medias/img_design/sprite.png"); display: block;}
.concert-icon span {height: 21px; width: 17px; float:left; background-position: -5px -5px; margin-right: 10px; }
.concert-icon:hover span {background-position: -5px -29px;}

.sport-icon span {height: 21px; width: 23px; float:left; background-position: -32px -5px; margin-right: 10px; }
.sport-icon:hover span {background-position: -32px -29px;}

.moleculaire-icon span {height: 21px; width: 23px; float:left; background-position: -63px -5px; margin-right: 10px; }
.moleculaire-icon:hover span {background-position: -63px -29px;}

.lounge-icon span {height: 21px; width: 20px; float:left; background-position: -94px -5px; margin-right: 10px; }
.lounge-icon:hover span {background-position: -94px -29px;}

.rock-icon span {height: 21px; width: 20px; float:left; background-position: -124px -5px; margin-right: 10px; }
.rock-icon:hover span {background-position: -124px -29px;}

.pub-icon span {height: 21px; width: 17px; float:left; background-position: -156px -5px; margin-right: 10px; }
.pub-icon:hover span {background-position: -156px -29px;}

.geek-icon span {height: 21px; width: 24px; float:left; background-position: -182px -5px; margin-right: 10px; }
.geek-icon:hover span {background-position: -182px -29px;}

/* CSS specific for the band "theme" */
.theme-band h1 {color: #fff;}
.theme-band.site-wrapper-inner {background : url("../medias/img_design/bg_blur_bar.jpg");}
.theme-band .btn-primary {margin: 0 10px 20px 10px;}
.theme-band .cover-container {text-align: center;}

/* CSS specific for the band which regroup some bar */
.list-bar-band { text-align: center;}
.list-bar-band .media {text-align: left; height: 50px; }
.list-bar-band .media.media-grey { background: #F2F2F2; }
.list-bar-band .media.media-white { background: #fff; }
.list-bar-band .media .pull-left { background: #F3C319; height: 100%; padding: 5px; line-height: 40px; margin-right: 3px; color: #fff;}
.list-bar-band .media-body h4 { margin: 4px 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.list-bar-band .media-body h4 a { color: #F3C319;}
.list-bar-band .media-body h6 {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 5px 0; color: #333333;}
.list-bar-band .media-body h6 a { color: #333333; font-weight: 700; }
.list-bar-band .media-body h6 small { font-size: 100%; color: #333333;}

.list-bar-band .thumbnail { padding: 0; border: 0; border-radius: 0; box-shadow: none; height: 140px; overflow: hidden;}
.list-bar-band .thumbnail>img { max-height: 100%; max-width: none;}

/* CSS specific for the band to download our amazing application */
.download-app-band { text-align: center;}
.download-app-band p.lead { margin: 5px 0; font-size: 16px;}

/*
*****
	Results search bar
*****
*/

.content-resultats-filtres, .content-resultats-list-list, .content-resultats-map  { height: 100%; min-height: 100%; overflow: auto; }
.content-resultats-list { height: 100%; min-height: 100%;}
.content-resultats-filtres {background: #F2F2F2; direction: rtl; }
.container-resultats-filtres { direction: ltr;}
.content-resultats-filtres form {margin-top: 10px;}
.content-resultats-filtres .inputSearch-result {margin-bottom: 10px; padding: 5px;}
.content-resultats-filtres ul {padding-left: 5px;}
.content-resultats-filtres .col-md-10 { padding-left: 0;}
.content-resultats-filtres .btn-primary-grey,
.content-resultats-filtres .btn-primary-orange { margin-bottom: 5px;}
.content-resultats-filtres .yourlabs-autocomplete { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; position: static !important; width: 100%}
.content-resultats-filtres form .search-loc-boisson ul li {display: block; float: left; width: 25%;}
.content-resultats-filtres form .search-loc-boisson ul li:first-child {margin-top: -5px}
.content-resultats-filtres form .search-theme a#themes-plus{display:block; color: #AAA; text-decoration: underline; margin-bottom:10px;}
.content-resultats-filtres #slider-range-min-slider {margin: 20px 0;}
.content-resultats-filtres #slider-range-min-slider span { position: relative;top: -25px; display : block; width: 50px; font-family: 'Lobster', cursive; color: #F1B219; }
.content-resultats-filtres #slider-range-min-slider a:hover {text-decoration: none;}
.content-resultats-list-button, .content-resultats-map-button {height: 100%; background: #f8f8f8; padding: 0;}
.content-resultats-list-button a, .content-resultats-map-button a {width: 100%; display: block; color: #ccc;}
.content-resultats-list-button h5 {  white-space:nowrap; margin: 120px 2px 2px 2px;
-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform: rotate(270deg);}

.content-resultats-map-button h5 {  white-space:nowrap; margin: 22px 2px 2px 2px;
-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);}
.content-resultats-map  { background: rgba(0, 0, 0, 0.03); padding: 0; }
.content-resultats-map #map-canvas img { max-width:none !important; }

.content-resultats-list .media .pull-left a {overflow: hidden; display: block;}
.content-resultats-list { padding: 0; }
.content-resultats-list ol { padding-left: 0; margin-top: 30px}
.content-resultats-list ol li { list-style-type: none; }
.content-resultats-list .media-heading a { color: #000;}
.content-resultats-list .media-heading span { background: #F3C319; color: #fff; font-size: 12px; padding: 2px; font-weight: 300; float: left; margin-right: 5px;}
.content-resultats-list h6 a { color: #999;}
.glyphicon-euro { color: #999; font-size: 10px; font-weight: 300}
.fullEuros { color: #222;}
.content-resultats-list-list .pull-left { margin-right: 10px;}
.content-resultats-list-list .number,
.content-resultats-list-list .content-list { padding: 0;}
.content-resultats-list-list .dl-horizontal { background: rgba(0, 0, 0, 0.03); padding: 10px; text-align: center; font-size: 12px;} 
.content-resultats-list-list .dl-horizontal dt { text-align: left; width: auto;}
.content-resultats-list-list .dl-horizontal dd { text-align: right; margin-left: 0;}
.content-resultats-list-list .dl-horizontal a { font-size: 13px;}
.content-resultats-list-list .media .pDistance {margin-top: 10px; width: 100%;}
.content-resultats-list-list .media .pDistance .distanceBefore {background-image: url("../medias/img/drinkizy_sprite.png"); background-position: -171px -58px; content: ""; display: block; float: left; height: 23px; margin-right: 1px; width: 21px;}
.content-resultats-list-list .media .pDistance .distance {border-bottom: 2px solid #F1B219; float: left; margin-top: -10px; font-size: 11px; padding: 3px 1px}
.content-resultats-list-list .media .pDistance .distanceAfter {background-image: url("../medias/img/drinkizy_sprite.png"); background-position: -74px -57px; content: ""; display: block; float: left; height: 23px; margin-left: 0px; width: 15px;}
.content-resultats-list-list .distanceXsSm {display: inline-block;}
.marginLess { margin-left: -91.7%; }
.noWidth { width: 0; padding: 0;}



/*
*****
	Fiche Bar Page
*****
*/

.fiche-bar.pull-left { width: 120px; }
.fiche-bar-left-container { margin-bottom: 10px; padding-top: 20px; background-color: #f2f2f2; -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2); -o-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2); box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2) }
.fiche-bar-left-container p.lead { font-size: 12px; }
.fiche-bar-left-container .borderWhite { padding: 20px; border-top: 1px solid #fff; border-bottom: 1px solid #fff;}
.fiche-bar-left-container .media { margin: 0 20px 20px 20px;}
.fiche-bar-left-container .media .media-heading { font-size: 30px; font-weight: 700;}
.fiche-bar-left-container .media h5 { margin: 3px 0; }
.fiche-bar-left-container .media h5 a { font-size: 16px; color: #333; font-weight: 500}
.fiche-bar-left-container .media h6 { font-weight: 300; font-size: 16px;}
.fiche-bar-left-container .media h6 .glyphicon { color: #F3C319; margin-right: 3px;}

.fiche-bar-left-container .dl-horizontal dt { color: #999999; font-weight: 300; width: auto; margin-right: 5px; margin-left: 20px;}
.fiche-bar-left-container .dl-horizontal dd { margin-left: 0; }
.fiche-bar-left-container .dl-horizontal dd a {color: #333;}
.fiche-bar-left-container .dl-horizontal dd .dropdown-menu { left: 23%;}
.fiche-bar-left-container .dl-horizontal dd .dropdown-menu li { padding: 0 5px; font-weight: 300;}

.fiche-bar-left-container .markShare h4 {margin: 0; font-size: 16px}
.fiche-bar-left-container .markShare div:first-child span { background-color: #F3C319; color: rgba(255, 255, 255, 0.5); padding: 5px; font-size: 20px; font-weight: 500; float: left; }
.fiche-bar-left-container .markShare div:first-child span strong { color: rgba(255, 255, 255, 1); font-weight: 500; }
.fiche-bar-left-container .markShare div:first-child h4,
.fiche-bar-left-container .markShare div:first-child a { margin-left: 10px; display: inline-block; width: 65%}
.fiche-bar-left-container .markShare div:first-child a { color: #999;}

.fiche-bar-left-container.helpModo { text-align: center;}
.fiche-bar-left-container.helpModo button {margin-bottom: 20px;}

.fiche-bar-comment .mediaContour { border-bottom: 2px solid #fff; margin-bottom: 10px; }
.fiche-bar-comment textarea.form-control { min-height: 50px; height: 50px; width: 100%; max-width: 100%; margin-bottom: 3px;}
.fiche-bar-comment .textareaCom { padding-right: 5px;}
.fiche-bar-comment .buttonCom { padding-left: 5px;}
.fiche-bar-comment .rankFix { margin-left: 20px; font-size: 20px}
.fiche-bar-comment ul { padding-left: 0; margin: 20px 0;}
.fiche-bar-comment ul li {list-style: none;}
.fiche-bar-comment ul li p { background-color: #fff; padding: 7px; margin: 0;}
.fiche-bar-comment ul li h5 { color: #999999; font-weight: 300; padding-left: 7px;}
.fiche-bar-comment ul li h5 strong {font-weight: 500;}

#bar-drinkMenu h2 { color: #F1B219; font-size: 26px;}
#bar-drinkMenu h3 { padding-left: 15px; font-size: 20px;}
#bar-drinkMenu .panel { border: none; box-shadow: none; }
#bar-drinkMenu .panel-heading {background-color: transparent; background-image: none; padding: 4px 15px; }
#bar-drinkMenu .panel-title a:hover { color: #999; text-decoration: none;}
#bar-drinkMenu .panel-collapse { background-color: #f5F5F5; }
#bar-drinkMenu .panel-title,
#bar-drinkMenu .panel-title strong { font-weight: 300 }
#bar-drinkMenu .panel-title strong,
#bar-drinkMenu .panel-body p { width: 60%; display: inline-block;}
#bar-drinkMenu .panel-body { border: none;}
#bar-drinkMenu .panel-body p {font-size: 12px;}
#bar-drinkMenu .panel-body h4 {display: inline-block; width: auto; vertical-align: top; font-size: 16px; background-color: #F3C319; padding: 4px; margin: 0; color: #fff; }
#bar-drinkMenu .panel-body h4 .label { padding: 0; background-color: transparent; margin: 0; vertical-align: text-top;}
#bar-drinkMenu .panel-body h5 { font-size: 11px; color: #999; margin: 0;}
#bar-drinkMenu .panel-body div:last-child { text-align: center;}

#bar-map #map-canvas { height: 300px; }

/*
*****
	Theme page
*****
*/

.grey-band.page-theme a {margin: 0 10px 20px 10px;}
.grey-band.page-theme .lead { text-align: center;}
.grey-band.page-theme h1 { padding-top: 10px;}
/*
*****
	Footer
*****
*/

#footer { background-color: #666; text-align: center;}
#footer ul.nav-pills { width: 50%; margin: 10px auto;}
#footer .container img {margin: 20px 0 5px 0;}

#footer .nav-pills > li.active > a,
#footer .nav-pills > li.active > a:hover,
#footer .nav-pills > li.active > a:focus,
#footer .nav > li > a:hover,
#footer .nav > li > a:focus { background-color: #7a7a7a }



/*
*****
	Transition
*****
*/

.easeInOut1s{ -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all 1s ease-in-out; transition: all 1s ease-in-out; }
.easeInOut500ms {-webkit-transition: all 500ms ease-in-out; -moz-transition: all 500ms ease-in-out; -o-transition: all 500ms ease-in-out; -ms-transition: all 500ms ease-in-out; transition: all 500ms ease-in-out;}
.easeInOut300ms{ -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

/*
*****
	Media Queries
*****
*/


/* Xtra Small devices (phone, less than 768px) */
@media (max-width: 768px)  {
	.navbar-collapse, .navbar-form { border: none;}
	.form-control { margin-bottom: 10px;}
	.navbar-collapse .navbar-right > li { display: inline;}
	.navbar .container { width: 95%}
	.navbar .container>.navbar-collapse { margin-right: 0}	
	.cover-container {width: 100%; }

	.fiche-bar-left-container .dl-horizontal dd .dropdown-menu {left: 0;}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) { 
	.navbar-form .form-control { width: 150px;}
	.navbar-nav.navbar-right:last-child { margin-right: 0;}
	.navbar .container { width: 99%}
	.cover-container {width: 100%; }
	.navbar-default .btn-primary { margin: 0 2px;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px)  {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

.mapIconLabel {
    font-size: 15px;
    font-weight: bold;
    color: red;
    background-color: black;
}