
<figure>

    <a href="{% url 'bars.views.fiche_bar' onebar.slug %}"><img src="{{onebar.getImgUrl}}" alt=""></a>
</figure>
<div class="search-result-right">
    <h4><a href="{% url 'bars.views.fiche_bar' onebar.slug %}">{{ onebar.name }}</a>  <span> <a href="{% url 'bars.views.bars_for_theme' onebar.theme.slug %}">{{ onebar.theme.name }}</a> </span></h4>
    <div class="search-result-info">
        <p class="postAdress">{{ onebar.address }}</p>
        
        <p class="rankFix"><a href="{% url 'bars.views.fiche_bar' onebar.slug %}#comment"><span class="">★</span> <span class="full">★</span> <span class="full">★</span> <span class="full">★</span> <span class="full">★</span> <strong>321 avis</strong></a></p>
    </div>
</div>

{% load bar_distances_dict %}
        {% load division %}
        {% if bar_distances %}
            {% with distance=bar_distances|keyvalue:onebar.name %}
                {% if distance < 1000 %}
                    <p class="pDistance"><span class="distanceBefore"></span><span class="distance">{{ distance }} m</span><span class="distanceAfter"></span></p>
                {% else %}
                    <h3 class="distance">{{ distance|divide:1000 }} km</h3>
                {% endif %}
            {% endwith %}
        {% endif %}
<div class="search-result-drinksMenu"> 
    <ul>
        {% for result in objects %}

            {% with drinkbar=result.object%}

            {%ifequal drinkbar.bar.name onebar.name %}
                <li>{{ drinkbar.drink.name }} : {{ drinkbar.price }}€</li>
            {%endifequal%}

            {%endwith%}
        {% endfor %}
    </ul>

    <h5><a href="{% url 'bars.views.fiche_bar' onebar.slug %}#drinkMenu">voir <strong>plus</strong></a></h5>
</div>



