
<figure>

    <img src="{{onebar.getImgUrl}}" alt="">
</figure>
<div class="search-result-right">
    <h4> {{ onebar.name }} <span> {{ onebar.theme }} </span></h4>
    <div class="search-result-info">
        <p class="postAdress>">{{ onebar.address }}</p>
        <p class="rank"><span class="full"></span> <span class="full"></span> <span class="full"></span> <span class="full"></span> <span></span> <strong>321 avis</strong></p>
    </div>

        <div class="search-result-drinksMenu">

            
            <ul>
                {% for result in objects|slice:"3" %}

                    {% with drinkbar=result.object%}

                    {%ifequal drinkbar.bar.name onebar.name %}
                        <li>{{ drinkbar.drink.name }} : {{ drinkbar.price }}€</li>
                    {%endifequal%}

                    {%endwith%}
                {% endfor %}
            </ul>
            

            <h5><a href="#">voir <strong>plus</strong></a></h5>
        </div>


</div>


