{% extends 'layout/base.html' %}

{% block content %}

        {% if query %}
            <h3>Results</h3>
            {% with objects=page.object_list %}
         
            
            {% for result in objects %}
                <p>
                <a href="{{ result.object.get_absolute_url }}">
                {% ifequal result.model_name 'bar' %}
                    {{ result.object.name }} {{ result.object.address }}
                {% else %}
                    {{ result.object.bar.name }} {{ result.object.bar.address }}
                {% endifequal %}
</p>
                
            {% endfor %}
            {% endwith %}

{% comment %}
            <!-- Begin faceting. -->
            <h2>By Author</h2>

            <div>
                <dl>
                    {% if facets.fields.author %}
                        <dt>Author</dt>
                        {# Provide only the top 5 authors #}
                        {% for author in facets.fields.author|slice:":5" %}
                            <dd><a href="{{ request.get_full_path }}&amp;selected_facets=author_exact:{{ author.0|urlencode }}">{{ author.0 }}</a> ({{ author.1 }})</dd>
                        {% endfor %}
                    {% else %}
                        <p>No author facets.</p>
                    {% endif %}
                </dl>
            </div>
            <!-- End faceting -->

            <!-- Display results... -->
            {% for result in results %}
                <div class="search_result">
                    <h3><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></h3>

                    <p>{{ result.object.body|truncatewords:80 }}</p>
                </div>
            {% empty %}
                <p>Sorry, no results found.</p>
            {% endfor %}

{% endcomment %}



            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}

{% endblock %}