{% extends 'layout/base.html' %}

{% block content %}
    {% load staticfiles %}

    <div class="main wrapper clearfix search-result">
        <aside>
            <h2>Affiner la recherche</h2>
            <form method="get" action=".">

                {{ form.q }}
                <input type="submit" value="Actualiser" class="submitSearch-result easeInOut300ms">
                <div class="clearfix"></div>

                <h3><a href="#boissons" class="easeInOut300ms">Boissons</a><span class="easeInOut300ms"></span></h3>
                <section class="search-cat-boisson">
                    {{ form.categories }}

                    {# {{ form.subcategories }} #}

                    <input type="submit" value="Actualiser" class="submitSearch-result easeInOut300ms">
                    <div class="clearfix"></div>
                </section>

                <h3><a href="#localisation" class="easeInOut300ms">Localisation</a><span class="easeInOut300ms"></span></h3>
                <section>

                    <input type="text" placeholder="Où ? Adresse, Métro" class="inputLocalisation inputSearch-result"/>
                
                    {{ form.districts }}

                    {{ form.station }}

                    {{ form.distance }}
                    <input type="submit" value="Actualiser" class="submitSearch-result easeInOut300ms">
                    <div class="clearfix"></div>
                </section>
   
                <h3><a href="#themes" class="easeInOut300ms">Thèmes</a><span class="easeInOut300ms"></span></h3>
                <section>
                    {{ form.themes }}
                    <input type="submit" value="Actualiser" class="submitSearch-result easeInOut300ms">
                    <div class="clearfix"></div>
                </section>

                <h3><a href="#happyhour" class="easeInOut300ms">Happy Hour</a><span class="easeInOut300ms"></span></h3>

                <section>
                    <div id="slider-range"></div>
                </section>


                <h3><a href="#note" class="easeInOut300ms">Note</a><span class="easeInOut300ms"></span></h3>
                <section>
                    <p class="rankActive"><a href="#" class="easeInOut300ms">★</a> <a href="#" class="easeInOut300ms">★</a> <a href="#" class="easeInOut300ms">★</a> <a href="#" class="easeInOut300ms">★</a> <a href="#" class="easeInOut300ms">★</a></p>
                </section>

                
                
            </form>
        </aside>

        <nav>
            <ul>
                <li class="selected"><a href="#">
                    <div id="code" class="result-backCorner">
                        <img id="curl" src={% static "medias/img/cornerLeft.png" %}>
                    </div>
                    Liste
                </a></li>
                <li><a href="#">Carte
                    <div id="code2" class="result-backCorner">
                        <img id="cur2" src={% static "medias/img/cornerRight.png" %}>
                    </div>
                </a></li>
            </ul>
        </nav>
    

        <article class="search-result-list">
            <header>

                {% if query %}

                    <h5> {{page.object_list|length}} résultats pour la recherche "{{query}}"</h5> 
                {% endif %}

               
                <select>
                    <option value="pertinence">Pertinence</option>
                    <option value="prix">Prix</option>
                    <option value="proximité">Proximité</option>
                </select>
                <label>Trier par </label>

            </header>
            <section class="search-result-bar">
      
            <h3>Results</h3>
            {% with objects=page.object_list %}

            <ul>
                {% for result in objects|dictsort:"object.bar.name" %}
                   
                    {% ifchanged result.object.bar%}
                        <li>

                            {% with onebar=result.object.bar %}
                                {% include "search/bar_in_list.html" %}
                            {% endwith %}

                        </li>
                        <div class="clearfix"></div>
                    {%endifchanged%}
    
                {% endfor %}
             </ul>
            {% endwith %}


            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
 

            </section>

            <footer>

            </footer>
        </article>

        <article class="search-result-carte">
        <h2> Carte</h2>
        </article>
        

    <div class="clearfix"></div>



</div> <!-- #main -->

    

       

{% endblock %}

{% block scriptjs %}
        
        <script>
            $(document).ready(function() {

            /************ BEGIN DISTANCE RANGE ************/

                var type = $('<input type="range" />').attr('type');
                $('#slider-range-min').attr("readonly", true).hide();
                $('#slider-range-min-slider').slider({
                    {% if distance_setted %}value: {{ distance_setted }},{% endif %}
                    range: 'min',
                    min: 0,
                    max: 2000,
                    step: 50,
                    slide: function(event, ui) {

                        if(ui.value < 1000)
                            $(this).find('.ui-slider-handle span').text(ui.value + "m" );
                        else
                            $(this).find('.ui-slider-handle span').text(ui.value/1000 + "km" );
                        $('#slider-range-min').val(ui.value);
                    },
                    create: function(event, ui) {
                        var v=$(this).slider('value');
                        if(v < 1000)
                            $(this).find('.ui-slider-handle').html("<span>" +v+"m"+ "</span>");
                        else
                            $(this).find('.ui-slider-handle').html("<span>" +v/1000+"km"+ "</span>");
                        $('#slider-range-min').val({{ form.distance.value|default_if_none:0 }});
     
                        
                    }
                });

            /************ END DISTANCE RANGE ************/


            /************ BEGIN HAPPY-HOURS RANGE ************/

                var hour_values = ["14h", "14h30", "15h", "15h30", "16h", "16h30", "17h", "17h30", "18h", "18h30", "19h", "19h30", "20h", "20h30", "21h", "21h30", "22h", "22h30", "23h", "23h30","00h", "00h30","01h", "01h30","02h", "02h30","03h", "03h30","04h", "04h30"];
                 $( "#slider-range" ).slider({
                    range: true,
                    min: 0,
                    max: 30,
                    values: [ 4, 18 ],
                    slide: function( event, ui ) {  
                        $(ui.handle).find("span").text(hour_values[ui.value]);
                    },
                    create: function(event, ui) {
                        $(this).find('.ui-slider-handle').each(function(index, element){
                            if (index == 0) {
                                $(this).addClass('first');
                                $(this).html("<span> 16h </span>");
                            }
                            else {
                                $(this).addClass('second');
                                $(this).html("<span> 23h </span>");
                            }
                        })
                    }
                });

            /************ END HAPPY-HOURS RANGE ************/

            /************ BEGIN TOGGLE SECTIONS ************/
                
                $(".search-result form h3").click(function(e){
                    $(this).next("section").slideToggle(300);
                    $(this).find("span").toggleClass('search-chevron-down');
                    e.preventDefault();
                }); 


                {% if form.categories.value %}
                    $(".search-result form h3 a[href='#boissons']").parent().next("section").slideToggle(300);
                {% endif %}

                {% if form.districts.value or form.station.value or form.distance.value and form.distance.value != '0' %}
                    $(".search-result form h3 a[href='#localisation']").parent().next("section").slideToggle(300);
                {% endif %}

                {% if form.themes.value %}
                    $(".search-result form h3 a[href='#themes']").parent().next("section").slideToggle(300);
                {% endif %}

            /************ END TOGGLE SECTIONS ************/

            /************ BEGIN DISPLAY SUCATEGORIES ************/
                /* Create all subcategories checkbox and hide them */
                $("input[name=categories]").each(function(index){
                    var category = $(this).val();
                    var ul = "<span class='easeInOut300ms'></span><ul id='for_category_"+index+"' class='subcategories'>";
                    {% for subcategory in form.subcategories.field.queryset %}
                        var current_category = "{{ subcategory.category.name }}"
                        var subcategory = "{{ subcategory.name }}"
                        if(category == current_category){
                            var count = "{{ forloop.counter0 }}";
                            var li = "<li><label for='id_subcategories_"+count+"'><input id='id_subcategories_"+count+"' type='checkbox' value='"+subcategory+"' name='subcategories'>"+subcategory+"</label></li>";
                            ul = ul + li;
                        }
                    {% endfor %}
                    $(this).parent().parent().append(ul);
                });
                $('.subcategories').hide();

                /* Unhide and check the subcategories which were params for the results */
                

                /* Display subcategories when category chevron is clicked */
                $("ul#id_categories li span").click(function() {
                    var num_category = $(this).prev().attr('for').match(/\d+/);
                    $(this).toggleClass('search-chevron-down');
                    $("#for_category_"+num_category).toggle(); 
                });

                /* (un)Check all subcategories when category is (un)checked */
                $("input[name=categories]").change(function() {
                    var num_category = $(this).attr('id').match(/\d+/);
                    if($(this).is(':checked')){
                        $("#for_category_"+num_category).find("li").each(function(index){
                            $(this).find(">:first-child").find(">:first-child").prop('checked', true);
                        }); 
                    }else{
                        $("#for_category_"+num_category).find("li").each(function(index){
                            $(this).find(">:first-child").find(">:first-child").prop('checked', false);
                        });
                    }
                });

                /* Uncheck category if subcategory is unchecked */
                $("input[name=subcategories]").change(function() {
                    var num_category = $(this).attr('id').match(/\d+/);
                    if(!$(this).is(':checked')){
                        console.log($("label[for='id_categories_"+num_category+"'] input"));
                        $("label[for='id_categories_"+num_category+"'] input").prop('checked', false);
                    }
                });



            /************ BEGIN DISPLAY SUCATEGORIES ************/


            });
        </script>
    {% endblock scriptjs %}