{% extends 'layout/base.html' %}

{% block content %}
    {% load staticfiles %}

    <div class="page-theme grey-band site-wrapper-inner">
        <div class="cover-container">
            <h1 class="cover-heading">Tous les thèmes</h1>
            <p class="lead">
                {% for theme in themes|dictsort:"name" %}
                    <a href="{% url 'bars.views.bars_for_theme' theme.slug %}" type="button" class="concert-icon btn btn-primary btn-primary-orange">{{ theme.name }}</a>
                {% endfor %}
            </p>
        </div>   
    </div>
    <div class="white-band list-bar-band site-wrapper-inner">
        <div class="cover-container">
        
            <h1> {{ theme.name }} </h1> 


                <div class="row">
 
                    {% for bar in bars_for_theme|dictsort:"name" %}
                        <div class="col-xs-6 col-sm-3">
                                <div class="media media-grey">
                                    <span class="pull-left">
                                        9.9
                                    </span>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <a href="{% url 'bars.views.fiche_bar' bar.slug %}">{{ bar.name }}</a>
                                        </h4>
                                        <h6>
                                            {% for theme in bar.themes.all %}
                                                {% if forloop.last %}
                                                    <a href="{% url 'bars.views.bars_for_theme' theme.slug %}">{{ theme.name }}</a>
                                                {% else %}
                                                    <a href="{% url 'bars.views.bars_for_theme' theme.slug %}">{{ theme.name }}</a>,
                                                {% endif %}
                                            {% endfor %}
                                            <small>{{ bar.address }}</small>
                                        </h6>
                                    </div>
                                </div>
                                <div class="thumbnail">
                                    {% load thumbnail %}
                                    {% thumbnail bar.getImgUrlList.0 "270x140" crop="center" as im %}
                                    <a href="{% url 'bars.views.fiche_bar' bar.slug %}">
                                        <img class="media-object" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    </a>
                                    {% endthumbnail %}
                                </div>
                        </div>
                    {% endfor %}
                </div>
                

                {% comment %}
                <ul>
                    {% with objects=bars_for_theme %}
                    
                    {% for result in bars_for_theme|dictsort:"object.bar.name" %}
                   
                        {% ifchanged result.object.bar%}
                            <li>
                                {% with onebar=result.object.bar %}
                                    {% include "search/bar_in_list.html" %}
                                {% endwith %}
                            </li>
                            <div class="clearfix"></div>
                        {%endifchanged%}
    
                    {% endfor %}
                    {% endwith %}
                 </ul>
                {% endcomment %}

        </div>
    </div>

{% endblock %}
