{% extends "layout/base.html" %}

{% block content %}
	{% load staticfiles %}
	<div class="site-wrapper-inner">
		<div class="cover-container">

			<div class="content-main col-sm-8">

				<div class="row fiche-bar-thumbnail">
					{% load thumbnail %}
					{% for image in bar.getImgUrlList %}
						<div class="col-xs-6 col-md-3">
						{% thumbnail image "195x110" crop="center" as im %}
						    <a href="{{ image }}" class="">
						    	<img class="media-object" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
						    </a>
						{% endthumbnail %}
						</div>
					{% endfor %}
				</div>

				<div class="fiche-bar-left-container">
					<div class="media">
						<span class="pull-left fiche-bar">
						{% load thumbnail %}
							{% thumbnail bar.getImgUrlList.0 "100x100" crop="center" as im %}
							    <img class="media-object" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
							{% endthumbnail %}
						</span>
						<div class="media-body">
							<h4 class="media-heading">
								{{bar.name}}
							</h4>
							<h5>
								{% for theme in bar.themes.all %}
                                    {% if forloop.last %}
                                        <a href="{% url 'bars.views.bars_for_theme' theme.slug %}">{{ theme.name }}</a>
                                    {% else %}
                                        <a href="{% url 'bars.views.bars_for_theme' theme.slug %}">{{ theme.name }}</a>,
                                    {% endif %}
								{% endfor %}
							</h5>
							<h6><span class="glyphicon glyphicon-map-marker"></span>{{bar.address}}</h6>
						</div>
					</div>
					<p class="lead borderWhite">{{ bar.description }}</p>
					<div class="row">
						<dl class="dl-horizontal col-sm-6">
							<dt>Téléphone : </dt>
							<dd>{{bar.phone}}</dd>
							<dt>Site web : </dt>
							<dd>{{bar.website}}</dd>
							<dt>Email : </dt>
							<dd>{{bar.mail}}</dd>
						</dl>
						<dl class="dl-horizontal col-sm-6">
							
							<dt>Horaires : </dt>
							<dd class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">12:00 - 02:00 <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>lun.-ven. : 12:00 - 00:00</li>
									<li>sam. : 12:00 - 02:00</li>
									<li>dim. : fermé</li>
								</ul>
							</dd>
							<dt>Happy Hour : </dt>
							<dd>18:00 - 22:00</dd>
							<dt>Tarifs : </dt>
							<dd><small>
								<span class="glyphicon glyphicon glyphicon-euro fullEuros"></span> 
								<span class="glyphicon glyphicon glyphicon-euro"></span> 
								<span class="glyphicon glyphicon glyphicon-euro"></span>
								</small>
							</dd>
						</dl>
					</div>

					<div class="row borderWhite markShare">
						<div class="col-sm-8">
							<span><strong>9,6</strong> /10</span>
							<h4>134 personnes ont noté ce bar</h4>
							<a href="">Note le à ton tour</a>
						</div>
						<div class="col-sm-4">
							<h4>Partager ce bar</h4>
							<div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button_count"></div>
							<a href="https://twitter.com/share" class="twitter-share-button" data-lang="fr">Tweeter</a>
						</div>
					</div>
				</div>

				<div class="fiche-bar-left-container helpModo">
					<p>Aidez-nous à modérer le site en validant l'existence de ce bar</p>
					<button type="button" class="btn btn-primary btn-primary-orange">Oui</button>
					<button type="button" class="btn btn-primary btn-primary-orange">Non</button>
				</div>
				
				{% load comments %}
				<div class="fiche-bar-left-container fiche-bar-comment">
					<div class="mediaContour">
						<div class="media">

						{% if user.is_authenticated %}
							<span class="pull-left">
							{% load thumbnail %}
								{% thumbnail user.avatar "50x50" crop="center" as im %}
									<img class="media-object" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
								{% endthumbnail %}
							</span>
						    {% get_comment_form for bar as form %}
						    <div class="media-body">
							    <form action="{% comment_form_target %}" method="POST" class="row">
								    <div class="textareaCom col-xs-10">
									    {% csrf_token %}
									    {{ form.comment }}
									    {{ form.honeypot }}
									    {{ form.content_type }}
									    {{ form.object_pk }}
									    {{ form.timestamp }}
									    {{ form.security_hash }}
								    </div>
								    <div class="buttonCom col-xs-2">
								    	<input type="submit" value="Envoyer" id="id_submit" class="btn btn-primary btn-primary-orange" />
									    <input type="hidden" name="next" value="{% url 'bars.views.fiche_bar' bar.slug %}" />
								    </div>
							    </form>
							</div>
						{% else %}
						    <p><a href="{% url 'django.contrib.auth.views.login' %}">Connectez-vous</a> pour laisser un commentaire.</p>
						{% endif %}


							<!--span class="pull-left">
									<img src="}" alt="" height="50" width="50"/>
							</span>
							<div class="media-body">
								<form class="row">
									<div class="textareaCom col-xs-10">
										<textarea class="form-control" rows="3"></textarea>
									</div>
									<div class="buttonCom col-xs-2">
										<button type="button" class="btn btn-primary btn-primary-orange">Envoyer</button>
									</div>
								</form>
							</div-->
						</div>
					</div>

					<p class="rankFix">
						<strong>321 avis</strong>
					</p>

					<ul>
						{% get_comment_list for bar as comment_list %}
						{% for comment in comment_list %}
							<li class="media">
								<span class="pull-left">
									{% load thumbnail %}
										{% thumbnail comment.user.avatar "50x50" crop="center" as im %}
											<img class="media-object" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
										{% endthumbnail %}
								</span>
								<div class="media-body">
									{{ comment.comment }}
									<h5>par <strong>{{ comment.user_name }}</strong>, {{ comment.submit_date }}</h5>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>


			</div>
			<div class="content-secondary col-sm-4">	
				<div id="bar-drinkMenu">
					<h2>Carte des Boissons</h2>
				
					{% regroup drinks_in_bar by drink.subcategory as drinks_list %}
						{% for drink in drinks_list %}
							<h3>{{ drink.grouper.name }}</h3>
							<div class="panel-group" id="accordion">
								{% for item in drink.list %}
								
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.parentloop.counter}}{{forloop.counter}}">
													<strong class="">{{ item.drink.name }}</strong>
													<span class="">{{ item.price }} €
														<!--a href="#" class="easeInOut300ms">★</a>
														<a href="#" class="easeInOut300ms">★</a>
														<a href="#" class="easeInOut300ms">★</a>
														<a href="#" class="easeInOut300ms">★</a>
														<a href="#" class="easeInOut300ms">★</a-->
													</span>
												</a>
											</h4>
										</div>
										<div id="collapse{{forloop.parentloop.counter}}{{forloop.counter}}" class="panel-collapse collapse">
											<div class="panel-body">
												<div>
													<p>{{ item.drink.description }}</p>
													<h4>{{ item.price }} € <span class="label label-default">Happy Hour</span></h4>
												</div>
											
												<div>
													<h5>Aider nous à modérer le site en validant l'existence de cette boison dans ce bar</h5>
												
													<button type="button" class="btn btn-primary btn-primary-orange btn-xs">Oui</button>
													<button type="button" class="btn btn-primary btn-primary-orange btn-xs">Non</button>
												</div>
											</div>
										</div>
									</div>

								{% endfor %}
						
							</div>
						{% endfor %}

					</div>

					<div id="bar-map">
						<div id="map-canvas"></div>
					</div>
					
					<div id="bar-sameThemeBars">
						
						<ol>
							{% load bar_tags %}
							{% for theme in bar.themes.all %}
								{% get_bars_for_theme theme.slug as bars %}
								{% for bar in bars|dictsort:"name" %}
									<li class="media">
										{{ theme.name }}
					                    {% with onebar=bar %}
										   {% include "search/bar_in_list.html" %}
										{% endwith %}
									</li>
				                {% endfor %}
				            {% endfor %}
						</ol>
					</div>
					


			</div>
		</div>
	</div>


{% endblock content %}
	
{% block scriptjs %}    
	<script type="text/javascript" src={% static "js/fiche_bar.js" %}></script>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYdfpCP0VVQOXXf5nvoiwdHhbeI4drobE&sensor=true">
	</script>
	<script>
		$(document).ready(function(){
			var longitude = "{{ bar.longitude }}".replace(",", ".");
			var latitude = "{{ bar.latitude }}".replace(",", ".");
				google.maps.event.addDomListener(window, 'load', initialize(latitude, longitude, "{{ bar.name }} {{ bar.address }}"));
		});

	</script>

	<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>

	<script>
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	</script>
{% endblock %}

