{% extends "layout/base.html" %}

{% block content %}
	{% load staticfiles %}

	<div class="main wrapper clearfix bar-card">

		<header>
			<ul>
				<li>
					<h4> {{bar.name}} <span> {{bar.theme}}  </span></h4>
					<p class="postAdress">{{bar.address}} </p>
				</li>
				<li class="boxValidateBar">
				</li>
				<li class="socialBox">
				</li>
				<li>
					<p class="rankFix">
					<span class="">★</span>
					<span class="">★</span>
					<span class=" full">★</span>
					<span class=" full">★</span>
					<span class=" full">★</span> 
					<strong>321 avis</strong>
				</p>
				</li>
			</ul>

		</header>

		<aside>
			<h4>Top des boissons<span>{{bar.name}}</span></h4>

			<ul>
				<li><h6>Mojito</h6></li>
				<li><h6>Mojito</h6></li>
				<li><h6>Mojito</h6></li>
			</ul>
			
		</aside>

		<div id="slider"><img src="{{bar.getImgUrl}}" alt=""/></div>

		<article>
			<nav>
				<ul>
					<li class="easeInOut300ms">
						<div class="peel-info code result-backCorner">
							<img class="curl" src={% static "medias/img/cornerLeft.png" %}/>
						</div>
						<a href="#moreInfos">Plus d'infos</a>
					</li>
					<li class="easeInOut300ms">
						<div class="peel-menu code result-backCorner">
							<img class="curl" src={% static "medias/img/cornerLeft.png" %}/>
						</div>
						<a href="#drinkMenu">Carte des boissons</a>
					</li>
					<li class="easeInOut300ms">
						<div class="peel-comment code result-backCorner">
							<img class="curl" src={% static "medias/img/cornerLeft.png" %}/>
						</div>
						<a href="#comment">Avis</a>
					</li>
					<li class="easeInOut300ms">
						<div class="peel-map code result-backCorner">
							<img class="curl" src={% static "medias/img/cornerLeft.png" %}/>
						</div>
						<a href="#map">Plan</a>
					</li>
				</ul>
			</nav>

			<div id="bar-moreInfos">

				<h3><a name="moreInfos">{{ bar.name }}</a></h3>
				<p class="bar-text">{{ bar.description }}</p>
				<p class="bar-happyHour"><strong>Happy Hour</strong> <span>16h - 22h</span></p>
				<ul>
					<!--Li class="bar-owner">Marcel Proust</li-->
					<li class="bar-tel">{{bar.phone}}</li>
					<li class="bar-mail">conctact@chezmomo.fr</li>
					<li class="bar-site"><a target="_blank" href={{ bar.website }}>{{ bar.website }}</a></li>
				</ul>
			</div>

			<div id="bar-drinkMenu">
				<h3><a name="drinkMenu">Carte des Boissons</a></h3>
				<div id="container-barCard" class="js-masonry" data-masonry-options='{ "columnWidth": 100, "itemSelector": ".menuCat" }'>
					
					{% regroup drinks_in_bar by subcategory as drinks_list %}

					<ul class="menuCat menuCat-aperitif">
						{% for drink in drinks_list %}
								<h4>{{ drink.grouper }}</h4>
									{% for item in drink.list %}
										<li class="">
											<a href="#">
												<h6>{{ item.object.drink.name }} <span>{{ item.object.price }} €</span></h6>
												<p class="rankActive">
													<a href="#" class="easeInOut300ms">★</a>
													<a href="#" class="easeInOut300ms">★</a>
													<a href="#" class="easeInOut300ms full">★</a>
													<a href="#" class="easeInOut300ms full">★</a>
													<a href="#" class="easeInOut300ms full">★</a>
												</p> 
											</a>

											<div class="infoDrinks">
												<ul>
													<li class="infoDrinks-text">
														{{ item.object.drink.description }}
													</li>
													<li class="infoDrinks-rank">
														<h5>Valider <strong>{{ item.object.drink.name|lower }}</strong> de <strong>{{ item.object.bar.name }}</strong></h5>
														<p>
															<a href="">oui</a>	 <a href="">non</a>	
														</p>
													</li>
												</ul>
												
											</div>
										</li>
									{% endfor %}
						{% endfor %}
					</ul>

		 		</div>
				<div class="clearfix"></div>
			</div>

			<div id="bar-comment" >
				<h3><a name="comment">Avis</a></h3>

				<h5>Note globale</h5>
				<p class="rankFix">
					<strong>321 avis</strong>
					<span class="">★</span>
					<span class="">★</span>
					<span class=" full">★</span>
					<span class=" full">★</span>
					<span class=" full">★</span> 
				</p>

				<a href="#" class="leaveComment">Laisser un commentaire</a>

				<ul>
					<li>
						<div class="bar-comment-author">
							<h4>Lauriane Anthony</h4>
							<p>12/01/2014</p>
						</div>
						<div class="bar-comment-text">
							<p>Lorem ipsum balar os jfrgr efgrLorem ipsum balar os jfrgr efgrLorem ipsum balar os jfrgr efgrLorem ipsum balar os jfrgr efgrLorem ipsum balar os jfrgr efgr</p>
							<p class="rankFix">
								<span class="">★</span>
								<span class="">★</span>
								<span class=" full">★</span>
								<span class=" full">★</span>
								<span class=" full">★</span>
							</p> 
						</div>
						<div class="clearfix"></div>
					</li>

					<li>
						<div class="bar-comment-author">
							<h4>Lauriane Anthony</h4>
							<p>12/01/2014</p>
						</div>
						<div class="bar-comment-text">
							<p>Lorem ipsum balar os jfrgr efgrLorem ipsum balar os jfrgr efgrLorem ipsum balar os jfrgr efgrLorem ipsum balar os jfrgr efgrLorem ipsum balar os jfrgr efgr</p>
							<p class="rankFix">
								<span class="">★</span>
								<span class="">★</span>
								<span class=" full">★</span>
								<span class=" full">★</span>
								<span class=" full">★</span>
							</p> 
						</div>
						<div class="clearfix"></div>
					</li>

				</ul>
			</div>


			<div id="bar-map">
				<h3><a name="map">Plan</a></h3>
				<div id="map-canvas"></div>
				<ul>
					<li class="bar-adress">{{ bar.address }}</li>
					<li class="bar-metro">Cadet, Poissonnière {{ bar.longitude }}</li>
				</ul>
			</div>
					
		</article>



		

		<div class="clearfix"></div>
	</div>


{% endblock content %}
	
{% block scriptjs %}    
	<script type="text/javascript" src={% static "js/masonry.pkgd.min.js" %}></script>
	<script type="text/javascript" src={% static "js/fiche_bar.js" %}></script>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYdfpCP0VVQOXXf5nvoiwdHhbeI4drobE&sensor=true">
	</script>
	<script>
		$(document).ready(function(){
    		google.maps.event.addDomListener(window, 'load', initialize(48.859788, 2.347328));
		});

	</script>
{% endblock %}

