{% extends "layout/base.html" %}

{% block content %}
	{% load staticfiles %}

	<div class="site-wrapper-inner">
		<div class="cover-container">

			<div class="content-main col-sm-8">

				<div class="row">
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img data-src="{{bar.getImgUrl}}" alt="...">
						</a>
					</div>
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img data-src="{{bar.getImgUrl}}" alt="...">
						</a>
					</div>
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img data-src="{{bar.getImgUrl}}" alt="...">
						</a>
					</div>
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img data-src="{{bar.getImgUrl}}" alt="...">
						</a>
					</div>
				</div>

				<div class="fiche-bar-left-container">
					<div class="media">
						<span class="pull-left fiche-bar">
							<img src="{{bar.getImgUrl}}" alt="" class="img-thumbnail"/>
						</span>
						<div class="media-body">
							<h4 class="media-heading">
								{{bar.name}}
							</h4>
							{% for theme in bar.themes.all %}
								<h5><a href="{% url 'bars.views.bars_for_theme' theme.slug %}">{{ theme.name }}</a></h5>
							{% endfor %}
							<h6><span class="glyphicon glyphicon-map-marker"></span>{{bar.address}}</h6>
						</div>
					</div>
					<p class="lead">{{ bar.description }}</p>
					<div class="row">
						<dl class="dl-horizontal col-sm-6">
							<dt>Téléphone : </dt>
							<dd>{{bar.phone}}</dd>
							<dt>Site web : </dt>
							<dd>{{bar.website}}</dd>
							<dt>Email : </dt>
							<dd>{{bar.mail}}</dd>
						</dl>
						<dl class="dl-horizontal col-sm-6">
							
							<dt>Horaires : </dt>
							<dd class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">12:00 - 02:00 <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>lun.-ven. : 12:00 - 00:00</li>
									<li>sam. : 12:00 - 02:00</li>
									<li>dim. : fermé</li>
								</ul>
							</dd>
							<dt>Happy Hour : </dt>
							<dd>18:00 - 22:00</dd>
							<dt>Tarifs : </dt>
							<dd>€ € €</dd>
						</dl>
					</div>
				</div>

				<div class="fiche-bar-left-container">
					<p>Aidez-nous à modérer le site ne validant l'existence de ce bar</p>
					<button type="button" class="btn btn-primary btn-primary-orange">Oui</button>
					<button type="button" class="btn btn-primary btn-primary-orange">Non</button>
				</div>

				<div class="fiche-bar-left-container">
					<h3><a name="comment">Avis</a></h3>

					<h5>Note globale</h5>
					<p class="rankFix">
						<strong>321 avis</strong>
						<span class="">★</span>
						<span class="">★</span>
						<span class=" full">★</span>
						<span class=" full">★</span>
						<span class=" full">★</span> 
					</p>

					<a href="#" class="leaveComment">Laisser un commentaire</a>

					<ul>
						<li>
							<div class="bar-comment-author">
								<h4>Lauriane Anthony</h4>
								<p>12/01/2014</p>
							</div>
							<div class="bar-comment-text">
								<p>Lorem ipsum balar os jfrgr efgrLorem ipsum balar os jfrgr efgrLorem ipsum balar os jfrgr efgrLorem ipsum balar os jfrgr efgrLorem ipsum balar os jfrgr efgr</p>
								<p class="rankFix">
									<span class="">★</span>
									<span class="">★</span>
									<span class=" full">★</span>
									<span class=" full">★</span>
									<span class=" full">★</span>
								</p> 
							</div>
							<div class="clearfix"></div>
						</li>

						<li>
							<div class="bar-comment-author">
								<h4>Lauriane Anthony</h4>
								<p>12/01/2014</p>
							</div>
							<div class="bar-comment-text">
								<p>Lorem ipsum balar os jfrgr efgrLorem ipsum balar os jfrgr efgrLorem ipsum balar os jfrgr efgrLorem ipsum balar os jfrgr efgrLorem ipsum balar os jfrgr efgr</p>
								<p class="rankFix">
									<span class="">★</span>
									<span class="">★</span>
									<span class=" full">★</span>
									<span class=" full">★</span>
									<span class=" full">★</span>
								</p> 
							</div>
							<div class="clearfix"></div>
						</li>

					</ul>
				</div>


			</div>
			<div class="content-secondary col-sm-4">

				
				<div id="bar-drinkMenu">
					<h3><a name="drinkMenu">Carte des Boissons</a></h3>
					<div id="container-barCard" class="js-masonry" data-masonry-options='{ "columnWidth": 100, "itemSelector": ".menuCat" }'>
						
						{% regroup drinks_in_bar by subcategory as drinks_list %}

						<ul class="menuCat menuCat-aperitif">
							{% for drink in drinks_list %}
									<h4>{{ drink.grouper }}</h4>
										{% for item in drink.list %}
											<li class="">
												<a href="#">
													<h6>{{ item.object.drink.name }} <span>{{ item.object.price }} €</span></h6>
													<p class="rankActive">
														<a href="#" class="easeInOut300ms">★</a>
														<a href="#" class="easeInOut300ms">★</a>
														<a href="#" class="easeInOut300ms full">★</a>
														<a href="#" class="easeInOut300ms full">★</a>
														<a href="#" class="easeInOut300ms full">★</a>
													</p> 
												</a>

												<div class="infoDrinks">
													<ul>
														<li class="infoDrinks-text">
															{{ item.object.drink.description }}
														</li>
														<li class="infoDrinks-rank">
															<h5>Valider <strong>{{ item.object.drink.name|lower }}</strong> de <strong>{{ item.object.bar.name }}</strong></h5>
															<p>
																<a href="">oui</a>	 <a href="">non</a>	
															</p>
														</li>
													</ul>
													
												</div>
											</li>
										{% endfor %}
							{% endfor %}
						</ul>

			 		</div>
					<div class="clearfix"></div>
				</div>

				<div id="bar-map">
					<h3><a name="map">Plan</a></h3>
					<div id="map-canvas"></div>
					<ul>
						<li class="bar-adress">{{ bar.address }}</li>
						<!--li class="bar-metro"></li-->
					</ul>
				</div>


			</div>
		</div>
	</div>


{% endblock content %}
	
{% block scriptjs %}    
	<script type="text/javascript" src={% static "js/masonry.pkgd.min.js" %}></script>
	<script type="text/javascript" src={% static "js/fiche_bar.js" %}></script>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYdfpCP0VVQOXXf5nvoiwdHhbeI4drobE&sensor=true">
	</script>
	<script>
		$(document).ready(function(){
			var longitude = "{{ bar.longitude }}".replace(",", ".");
			var latitude = "{{ bar.latitude }}".replace(",", ".");
    		google.maps.event.addDomListener(window, 'load', initialize(latitude, longitude, "{{ bar.name }}"));
		});

	</script>
{% endblock %}

